body {
    background-color: rgb(0, 0, 0, 0.95);
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: center;
}

.logo a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 8px 14px;
    font-family: "Bungee", sans-serif;
    font-size: 22px;
    transition: all 0.3s ease;
    animation: bg-light 2.5s infinite alternate-reverse;
}

.logo a:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.logo a:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.85);
}


.product-img {
    display: inline-block;
    border: 2px solid whitesmoke;
    width: 10vw;
    margin-bottom: -15vh;
    padding: 20px;
    padding-top: 30px;
    align-items: center;
}

.product-img img {
    width: 10vw;
}