body {
    background-color: rgb(0, 0, 0, 0.95);
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: center;
}

.logo a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 8px 14px;
    font-family: "Bungee", sans-serif;
    font-size: 22px;
    transition: all 0.3s ease;
    animation: bg-light 2.5s infinite alternate-reverse;
}

.logo a:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.logo a:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.85);
}

.product-list-box {
    border: 2px solid white;
    margin: 10px;
    border-radius: 50px;
    margin-top: 40px;
}

.product-list {
    display: flex;
    margin: 20px;

}


.product-list img {
    height: 20vw;
    border: 2px solid white;
    border-radius: 50px;
}