body {
    background-color: rgb(0, 0, 0, 0.95);
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo a {
    text-decoration: none;
    font-size: 25px;
    font-family: "Bungee", sans-serif;
    color: white;
    font-weight: 500;
    margin-top: 5vh;
    border-radius: 50px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.logo a:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.logo a:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.85);
}


.login-box {
    display: flex;
    justify-content: center;
    margin-top: 13vh;
}

.login-box h1 {
    font-size: 3em;
}

.login-box form {
    display: grid;
    border: 2px solid;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.042);
    padding: 40px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.login-box label {
    font-size: 20px;
    margin-bottom: -2vh;
}

.login-box input {
    height: 6vh;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    padding: 0px 15px;
    background-color: rgba(245, 245, 245, 0.042);
    caret-color: white;
    color: white;
    outline: 2px solid rgba(211, 211, 211, 0.534);
}

.login-box input:focus {
    transition: all 0.2s ease-in-out;
    outline: 2px solid white;
}




.login-box button {
    display: block;
    justify-self: center;
    height: 5vh;
    width: 16vw;
    margin-top: 2vh;
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}


.login-box button:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.85);
}

.login-box span {
    display: flex;
    justify-content: center;
    margin: 3vh;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
    margin-top: 20vh;
}

.footer-copyright p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.Developer_Thanks {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
}

.Developer_Thanks p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}