body {
    background-color: rgb(0, 0, 0, 0.95);
    color: white;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
}

.logo a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 8px 14px;
    font-family: "Bungee", sans-serif;
    font-size: 22px;
    transition: all 0.3s ease;
}

.logo a:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.logo a:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.85);
}

.login-border {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-family: "Poppins", sans-serif;

}

.login-box h1 {
    text-align: center;
    margin-bottom: 4vh;
}

.login-box {
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 50px;
    padding: 20px;
    height: max-content;
    width: 20vw;
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);

}

.login-box label {
    padding: 2px;
}

.login-box input {
    display: flex;
    justify-self: center;
    margin: 14px;
    width: 90%;
    height: 3vh;
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 3px 18px;
    margin-bottom: 3vh;
}

.login-box button {
    display: flex;
    justify-self: center;
    padding: 13px 35px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    margin-top: 2vh;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    font-size: 17px;
}

.login-box button:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.login-box button:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.85);
}

.login-box p {
    display: flex;
    justify-content: center;
}

.bi-google {
    padding: 1px 8px;
}

.bi-apple {
    padding: 0px 8px;
}