body {
    background-color: rgb(0, 0, 0, 0.95);
    color: white;
}

header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    margin-bottom: 6vh;
}

.logo a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 8px 14px;
    font-family: "Bungee", sans-serif;
    font-size: 22px;
    transition: all 0.3s ease;


}

.logo a:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.logo a:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.85);
}



/* Copyright Footer */
.copy-right {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    border-top: 2px solid white;
}

.copy-right p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

