body {
    background-color: rgb(0, 0, 0, 0.95);
    color: white;
}

header {
    display: flex;
    justify-content: center;
}

.logo a {

    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 8px 14px;
    font-family: "Bungee", sans-serif;
    font-size: 22px;
    transition: all 0.3s ease;
    animation: bg-light 2.5s infinite alternate-reverse;
}

.logo a:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.logo a:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.85);
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-box-border {

    border: 2px solid white;
    border-style: solid;
    padding: 40px 60px;
    border-radius: 50px;
    text-align: center;

}

.login-box h1 {
    font-family: "Bungee", sans-serif;
}

.login-box label {
    font-family: "Poppins", sans-serif;
    display: block;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    /* text-align: center; */
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    max-width: -webkit-fill-available;
}

.login-box input:focus {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.sign-btn button {
    display: inline-block;
    padding: 12px 28px;
    margin-top: 1.5vh;
    margin-bottom: 2vh;
    border: none;
    border-radius: 50px;
    background: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(245, 245, 245, 0);
    transition: box-shadow 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.sign-btn button:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.login-box button:active {
    transform: scale(0.85);
}

.sep-line {
    position: relative;
    text-align: center;
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #ccc;
}

.sep-line::before,
.sep-line::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background: white;
}

.sep-line::before {
    left: 0;
}

.sep-line::after {
    right: 0;
}

.sep-line span {
    background-color: rgba(0, 0, 0, 0.95);
    padding: 0 12px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}


.Google-sign-in {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5vh;
}

.Google-sign-in button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    gap: 8px;
    margin-top: 4vh;
    border: none;
    border-radius: 50px;
    background: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(245, 245, 245, 0);
    transition: box-shadow 0.3s ease-in-out, transform 0.1s ease-in-out;

}

.Google-sign-in button:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.google-svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-svg svg {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.Apple-sign-in {
    display: flex;
    justify-content: center;
}

.Apple-sign-in button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    gap: 8px;
    border: none;
    border-radius: 50px;
    background: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(245, 245, 245, 0);
    transition: box-shadow 0.3s ease-in-out, transform 0.1s ease-in-out;

}

.Apple-sign-in button:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.apple-svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.apple-svg svg {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

/* Copyright Footer */
.copy-right {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
    text-align: center;
    border-top: 2px solid white;
}

.copy-right p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}