body {
    background-color: rgb(0, 0, 0, 0.95);
    color: white;
}

header {
    display: flex;
    justify-content: center;
}

.logo a {

    display: inline-block;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 8px 14px;
    font-family: "Bungee", sans-serif;
    font-size: 22px;
    transition: all 0.3s ease;
    animation: bg-light 2.5s infinite alternate-reverse;
}

.logo a:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.logo a:active {
    transition: all 0.1s ease-in-out;
    transform: scale(0.85);
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-box-border {

    border: 2px solid white;
    border-style: dashed;
    padding: 40px 60px;
    border-radius: 50px;
    text-align: center;

}

.login-box h1 {
    font-family: "Bungee", sans-serif;
}

.login-box label {
    font-family: "Poppins", sans-serif;
    display: block;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.login-box input:focus {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.login-box button {
    display: inline-block;
    padding: 12px 28px;
    margin-bottom: 2vh;
    border: none;
    border-radius: 50px;
    background: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(245, 245, 245, 0);
    transition: box-shadow 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.login-box button:hover {
    box-shadow: 0px 0px 10px 10px rgba(245, 245, 245, 0.3);
}

.login-box button:active {
    transform: scale(0.85);
}

.Google-sign-in {
    display: flex;
    justify-content: center;
}

.Google-sign-in button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.google-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-svg svg {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}